<button {{action "logout"}}>Logout</button>
<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome!</h2>
  <p>We hope you find exactly what you're looking for in a place to stay.</p>
  {{#link-to 'about' class="button"}}
    About Us
  {{/link-to}}
  &nbsp;
  {{#link-to 'rentals.addrental' class="button"}}
    Add Rental
  {{/link-to}}
</div>

{{outlet}}